.bold {
    font-weight: bold;
    color: red;
}

.flex {
    display: flex;
    align-items: center;
}

#image {
    margin-left: 10px;
}

.cookie-box {
    justify-content: center;
}

.cookie {
    font-size: 150px;
    user-select: none;
}

.count {
    font-size: 64px;
    margin-left: 20px;
}
